.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 0px 0px 0px 20px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(16px + 2vmin);
  color: white;
}

thead tr th{
  background-color: #06abf8 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 10px solid #a7aedb;
  border-top: 10px solid #061231;
  border-radius: 50%;
  animation: App-logo-spin 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.header-image {
  background-image: url(./Component/Assets/pic.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bg-image {
  background-image: url(./Component/Assets/bgimage.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: wheat;
}

.nav-link.active {
  color: white;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-primary:active:focus {
  color: #000000 !important;
  background-color: #9bdff0 !important;
  border-color: #064a85 !important;
}